@font-face {
    font-family: 'Belove Melody';
    src: url('../fonts/belovemelody.ttf') format('truetype');
}

.navbar{
  padding: 2vw 5vw 1vw 5vw;
  border-bottom-left-radius: 62px;
  border-bottom-right-radius: 62px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 90vh;
  z-index: 999;
}

@media screen and (max-width: 768px){
  .navbar{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}

.navbar > .nav-child-one{
    background-color: transparent;
    width: 100%;
    display: flex;

    align-items: center;
}

.nav-search{
    border: 1px solid #dddddd50;
    background: #f5f6f8 !important;
    box-shadow: 0 0 4px #e7e7e750;
}

.nav-search input[type="text"]{
    outline: none;
    background: transparent;
}

.navbar .logo{
    font-family: 'Belove Melody', sans-serif;
    transition: scale 0.2s ease;

}

.navbar .logo:hover{
    scale: 1.1;
    transition: scale 0.2s ease;
}

.link-item{
    opacity: 1;
    font-weight: 500;
    transition: opacity 0.3s ease;
}

.nav-links:hover > :not(:hover) {
    opacity: 0.5;
}

 
.search-icon{
    transition: all 0.3s ease;
     
    cursor: pointer;
}

.expanded-nav-cont {
    overflow: hidden;
    transition: all 0.5s ease;
    height: 100%;  
    
  }

  /* .expanded-nav-cont.expand{
     max-height: 2000px;
  }

  .expanded-nav-cont.collapse{
    max-height: 0px;
 } */

  
  
  @keyframes slideDown{
    from{
        height: 0%;
    }
    to{
        height: 100%;
    }
  }

 

  .slide{
    box-shadow: 2px 2px 6px #b9b9b98e, -2px -2px 6px #b8b8b888;
  }


  /* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  
  /* Hide scrollbar for IE and Edge */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }


  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
  }
  
  .snap-x {
    scroll-snap-type: x mandatory; /* Enable horizontal snap */
  }
  
  .snap-start {
    scroll-snap-align: start; /* Align the start of the card */
  }